* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
}

.container {
    height: 100dvh;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.container-fluid {
    height: 100dvh;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.wrapper {
    position: fixed;
    width: calc(100% - 285px);
    height: 100%;
    left: 285px;
    top: 0;
    z-index: 999;
    transition: left 0.5s,
    width 0.5s;
}

.wrapper-max {
    width: calc(100% - 64px);
    left: 64px;
}

h1 {
    color: #1f1880;
    font-size: 31px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

.title-font {
    font-family: "Poppins", sans-serif;
    font-size: 31px;
    font-weight: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    height: 75px;
    border: 0.5px solid var(--bs-secondary-bg);
}

.logo-container {
    display: flex;
    align-items: center;
    height: 75px;
    margin-left: 20px;
}

.toggle-icon {
    width: 24px;
    cursor: pointer;
}

.company-name {
    margin-left: 20px;
    padding-top: 8px;
}

.title-dashboard {
    margin-left: 24px;
    padding-top: 8px;
    color: #773ae7;
}

.header-icons {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.btn-success {
    background-color: #945aff !important;
    border-color: #773ae7 !important;
}

.btn-success:hover {
    background-color: #8451e0 !important;
    border-color: #773ae7 !important;
}

.pagination .page-item.active {
    background-color: #aa8ef5;
    color: #2d0c85;
    border-color: #aa8ef5;
}

.sidebar {
    background: #aa8ef5;
    width: 320px;
    color: #2d0c85;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu-item {
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #b8a1f7;
}

.menu-link {
    margin-left: 20px;
}

.menu-item-icon {
    width: 24px;
}

.spacer-logout {
    flex-grow: 1;
}

.margin-right-16 {
    margin-right: 16px;
}

.margin-right-4 {
    margin-right: 4px;
}

.form-font {
    font-size: 20px;
}

.form-header {
    background-color: #aa8ef5;
    color: #2d0c85;
    padding-top: 16px;
}

.action-button {
    background-color: #7752fe;
    color: white;
}

.action-button:hover {
    background-color: #815efa;
    color: white;
}

.form-label {
    font-size: 20px;
}

.form-label-extras {
    font-size: 16px;
}

.sign-button-container {
    padding-top: 16px;
    padding-bottom: 8px;
}

.href-color {
    color: #7773ee;
}

.href-color:hover {
    color: #8380e7;
}

h3 {
    font-weight: 600;
    font-size: 22px;
    margin: 16px;
}

.page-content {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--bs-body-bg);
}

.account-name {
    margin-right: 12px;
    color: #945aff;
    font-size: 21px;
    font-weight: bold;
}

.darken-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.18s ease;
    z-index: 1;
    top: 0;
    left: 0;
}
